<!DOCTYPE HTML>

<html>
	<head>
		<title>Anti-Phishing detection</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>

	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>Anti-Phishing<br />
						Using Machine Learning</h1>
						<p>A free, fully responsive site to detect Anti-Phishing website designed by <a href="https://github.com/asodha991">@Ajay Singh</a> <br />
						which determine using Machine Learning </p>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="" class="logo">Anti-Phishing</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href="">Anti-Phishing</a></li>
						</ul>
						<ul class="icons">
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<span class="date">
                                        {% if date %}
                                        {{date}}
                                        {% endif  %}
                                        <!-- Jan 29, 2022 -->
                                    </span>
									<h2><a href="">Determine<br />
									Anti-Phishing Website</a></h2>
									<p>We will extract features from URL and using those URL<br />
									we will evaluate those features and determine the website characteristics <br/>
									using Machine Learning <br/>
									</p>
								</header>
								
								<form action="/result" method="post" >
									<label for="fname">Enter URL:</label>
									<input type="text" id="fname" name="fname" value="Enter URL" >
									<input type="submit" value="Submit" >
									<!-- <button onclick="check();">Try it</button> -->
                                    <center>
                                        {% if name %}
                                        <h3 style="color: blue;">
                                            URL({{URL}}) passed is {{name}}
                                        </h3>
                                        {% endif  %}
                                    </center>
								</form>
								<a href="https://github.com/asodha991" class="image main">
                                    <img src="static\images\Phishing.jpg" alt="Phishing" /></a> <br></br>
								<ul class="actions special">
									<li><a href="https://github.com/asodha991" class="button large">Full Project Details</a></li>
								</ul>
							</article>
						<!-- Footer -->
							<footer>
								<div class="pagination">
									<!--<a href="#" class="previous">Prev</a>-->
									<!-- <a href="#" class="page active"></a> -->
								</div>
							</footer>

					</div>
			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>
			<script src="static/assets/js/check.js"></script>
			<!-- <php src = "action_page_URL.php"></php> -->

	</body>
</html>